form {
  margin-top: 1rem;
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0.5rem;
}

.post__title {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.post__content {
  height: 60vh;
  min-height: 200px;
  font-size: 1.25rem;
}

button {
  margin: 0;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  transition: all 0.4s;
  font-weight: bold;
}

button:hover,
button:focus,
button:active {
  background: #3c3c3c;
  border-color: #fff;
  color: #fff;
  transition: all 0.4s;
}

.error {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: red;
}
